header{font-size: 66px ; text-align: center  }
article{text-align: center}

b{text-align: center;}
.entry-content{margin-left:auto;
    margin-right:auto;
    width:45%;}
.talk{font-size: 25px;}
.textarea{resize: none;}
.submit{margin-left: 92%;}
.email_text{font-size: 10px;margin-left:300px;color: black;
    }
.title{text-align: center;}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin-left:auto;
    margin-right:auto;
    width:60%;
}
.good{color: black;}